#home-section.intro-section
  .slide-1{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(#{image_path("images/hero_1.jpg")});"}
    .container
      .row.align-items-center
        .col-12
          .row.align-items-center
            .col-lg-6.mb-4
              %h1 Save your favourite videos
              %p.mb-4 Manage your favourite videos from YouTube by yourself.
            .col-lg-5.ml-auto
              %form.form-box{:action => "", :method => "post"}
                %h3.h4.text-black.mb-4 Sign Up
                .form-group
                  %input.form-control{:placeholder => "Email Addresss", :type => "text"}/
                .form-group
                  %input.form-control{:placeholder => "Password", :type => "password"}/
                .form-group.mb-4
                  %input.form-control{:placeholder => "Re-type Password", :type => "password"}/
                .form-group
                  %input.btn.btn-primary.btn-pill{:type => "submit", :value => "Sign up"}/
